button {
    border: none;
    &.mt-button {
        --_background: var(--surface);
        --_color: var(--on-surface);
        cursor: pointer;
        padding: 0px 24px;
        display: flex;
        flex-direction: row;
        background-color: var(--_background);
        color: var(--_color);
        align-items: center;
        position: relative;
        gap: 8px;
        white-space: nowrap;
        line-height: 20px;
        border-radius:  10% 2rem 10% 2rem;
        font-size: 14px;
        &.filled {
            --_background: var(--primary);
            --_color: var(--on-primary);
        }

        &.outlined {
            border: 1px solid var(--outline);
        }

    }
}

:where(.mt-button, button):not(.icon, .fab, .chip) {

}
