$colors: (
    'primary': $primaryColor,
    'secondary': $secondaryColor,
    'tertiary': $tertiaryColor,
    'error': $errorColor,
    'background': $backgroundColor,
);

:root {
    --background: #{$backgroundColor};
    --primary: #{$primaryColor};
    --on-primary: #{$onPrimaryColor};
    --secondary: #{$secondaryColor};
    --tertiary: #{$tertiaryColor};
    --error: #{$errorColor};
    --surface: #{$surfaceColor};
    --on-surface: #{$onSurfaceColor};

    // Other variables
    --rounded-radius: #{$borderRadius};
    --container-padding: #{$containerPadding};
    --outline: #{$outline};
    --surface-variant: #{$surfaceVariant};
    --on-surface-variant: #{$onSurfaceVariant};
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #{$darkBackgroundColor};
        --primary: #{$darkPrimaryColor};
        --on-primary: #{$darkOnPrimaryColor};
        --secondary: #{$darkSecondaryColor};
        --tertiary: #{$darkTertiaryColor};
        --error: #{$darkErrorColor};
        --surface: #{$darkSurfaceColor};
        --on-surface: #{$darkOnSurfaceColor};

        // Other variables
        --outline: #{$darkOutline};
        --surface-variant: #{$darkSurfaceVariant};
        --on-surface-variant: #{$darkOnSurfaceVariant};
    }
}
