/**
*   Material You Color Scheme
*
*  This file contains the color scheme for the Material You theme.
*  The configuration for this color scheme was generated mostly by
*  the m3.material.io theme builder.
*  The parameter for the color build was the following:
*  - Primary Color: #d10033   [hue:  18 chroma: 133 tone: 44]
*  - Secondary Color: #00696c [hue: 199 chroma:  31 tone: 56]
*  - Tertiary Color: #3c691b  [hue: 133 chroma:  44 tone: 51]
*  - Neutral Color: #2a1800   [hue:  76 chroma:  22 tone: 16]
*
* The color scheme was then modified to fit the needs of the application.
* @see https://material.io/design/color/the-color-system.html#color-theme-creation
*/
$primaryColor: #bf002e!default;
$secondaryColor: #00696c!default;
$tertiaryColor: #3c691b!default;
$neutralColor: #2a1800!default;
$errorColor: #ba1a1a!default;
$backgroundColor: #fffbff!default;

/**
 * Color variations defined by Google
 */
$onBackgroundColor: $neutralColor!default;

$surfaceColor: $backgroundColor;
$onSurfaceColor: $neutralColor!default;

$outline: #857372!default;
$surfaceVariant: #f4dddc!default;
$onSurfaceVariant: #524343!default;

$onPrimaryColor: #000000!default;
$primaryContainer: #ffdad9!default;
$onPrimaryContainer: #400009!default;

$onSecondaryColor: #ffffff!default;
$secondaryContainer: #6ff6fa!default;
$onSecondaryContainer: #002021!default;

$onTertiaryColor: #173800!default;
$tertiaryContainer: #255102!default;
$onTertiaryContainer: #bcf293!default;

$onError: #690005!default;
$errorContainer: #93000a!default;
$onErrorContainer: #ffdad6!default;


/*
* Additional Variables
*/
$borderRadius: 12px 12px 12px 12px!default;
$containerPadding: 24px!default;

/*
* Dark scheme variables
*/
$darkPrimaryColor: #ffb3b3!default;
$darkSecondaryColor: #4cdade!default;
$darkTertiaryColor: #a1d57a!default;
$darkErrorColor: #ffb4ab!default;
$darkNeutralColor: #2a1800!default;

$darkBackgroundColor: $darkNeutralColor!default;
$darkOnBackgroundColor: #ffddb6!default;

$darkSurfaceColor: $darkNeutralColor!default;
$darkOnSurfaceColor: $darkOnBackgroundColor!default;

$darkOnPrimaryColor: #680014!default;
$darkPrimaryContainer: #920021!default;
$darkOnPrimaryContainer: #ffdad9!default;

$darkOnSecondaryColor: #003738!default;
$darkSecondaryContainer: #004f51!default;
$darkOnSecondaryContainer: #6ff6fa!default;

$darkOnTertiaryColor: #173800!default;
$darkTertiaryContainer: #255102!default;
$darkOnTertiaryContainer: #bcf293!default;

$darkOnError: #690005!default;
$darkErrorContainer: #93000a!default;
$darkOnErrorContainer: #ffdad6!default;

$darkOutline: #a08c8c!default;
$darkSurfaceVariant: #524343!default;
$darkOnSurfaceVariant: #d7c1c1!default;
