<script setup lang="ts">
</script>

<template>
    <div>
        <div class="card">
            Hola mundo

            <button class="mt-button">Hola</button>
        </div>
    </div>
</template>

<style lang="scss">
@import '@assets/scss/material-you';

.fade {
    &-enter-active {
        transition: opacity 250ms cubic-bezier(0.5, 0.3, -0.5, -0.2);
    }
}
</style>
